.section1 {
}

/* Random comment for git */
.section2 {
}

/* How IT Works Section */
.section3 {
  position: absolute;
  width: 100%;
  min-height: 480px; /* Ensure a minimum height to prevent content overflow */
  left: 50%;
  transform: translateX(-50%);
  top: 1234px;
  background: rgba(11, 126, 214, 0.61);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 114px; /* Adjust padding as needed */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.subheading {
  width: 384px;
  max-width: 100%; /* Ensure subheading doesn't overflow */
  height: 48px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #05365b;
  margin-bottom: 20px;
  text-align: center; /* Center align text */
  align-self: flex-start; /* This aligns the subheading to the left */
  margin-left: 114px; /* Same left margin as the .steps container */
}

.steps {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.step {
  width: 447px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.stepNumber {
  width: 60px;
  height: 60px;
  background: #d54300;
  border-radius: 11.6766px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  color: #fff;
}

.stepTitle {
  margin-left: 20px; /* Adjust as needed */
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  color: #ffffff;
}

.stepImage {
  margin-top: 20px; /* Adjust as needed */
  width: auto; /* Adjust as needed */
  max-width: 100%; /* Makes the image take the full width of the step container */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
  /* Mobile view */
  .section3 {
    min-height: auto; /* Allow section to shrink based on content */
    height: auto; /* Allow height to adjust based on content */
    top: 1277px;
    padding: 0 20px; /* Adjust padding as needed */
  }

  .steps {
    flex-direction: column; /* Stack steps vertically on mobile */
    align-items: center;
  }

  .step {
    width: 100%; /* Full width for mobile */
    margin-bottom: 20px; /* Add some space between steps */
  }

  .subheading {
    margin-left: 0; /* Center the subheading */
    text-align: center; /* Center align text */
    align-self: center; /* Center align element */
  }
}
